{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/mystyle.css">
    <title>ShatApp!!</title>
</head>

<body class="bg-black">
    <div class="container-xxl mt-2 p-2 chatroom">

        <div class="sidebar">
            <div class="availables p-2">
                <ul>
                    <li>
                        <a href="#lobby.html">
                            <h4>
                                <i class="fa-solid fa-cog"></i>
                                Configs
                            </h4>
                        </a>
                    </li>
                    <li>
                        <a href="#lobby.html">
                            <h4>
                                <i class="fa-solid fa-people-group"></i>
                                Salas
                            </h4>
                        </a>
                    </li>
                    <li class="">
                        <a href="#lobby.html">
                            <h4>
                                <i class="fa-solid fa-person"></i>
                                Personas
                            </h4>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="recents p-2">
                <ul>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Marketing</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room active">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los TutiFrutti</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los Murcielagos</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room active">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los TutiFrutti</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los Murcielagos</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room active">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los TutiFrutti</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los Murcielagos</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Development</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los Pandemials</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Marketing</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room active">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los TutiFrutti</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los Murcielagos</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Development</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los Pandemials</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Marketing</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room active">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los TutiFrutti</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los Murcielagos</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Development</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los Pandemials</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Marketing</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room active">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los TutiFrutti</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los Murcielagos</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Development</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                    <li class="room">
                        <a href="#">
                            <i class="fa fa-rocket"></i>
                            <span>Los Pandemials</span>
                            <i class="fa fa-times" style="float: right;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="conversation">
            <div id="messages" class="messages p-3">
                <!-- aqui se insertaran los mensajes-->

            </div>

            <form id="form" class="m-2 user-input">
                <input type="text" autofocus name="message" class="form-control user-input" placeholder="Escriba un mensaje...">
            </form>

        </div>
    </div>
    <script src="https://kit.fontawesome.com/ba1cc93e58.js" crossorigin="anonymous"></script>
    <script src="/static/funcs.js"></script>
</body>

</html>